* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

.header-font {
  font-size: 25px;
  font-weight: bold;
}

.article-font {
  font-size: 12px;
  line-height: 17px;
  color: #A6A8AD;
}

.title-font {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}

.left {
  text-align: left;
  float: left;
}

.right {
  text-align: right;
  float: right;
}

.main-header {
  padding-top: 20px;
  overflow: auto;
}
@media only screen and (max-width: 992px) {
  .main-header {
    text-align: center;
  }
}

.logo {
  margin: 0;
  float: left;
}
@media only screen and (max-width: 992px) {
  .logo {
    float: none;
  }
}
.logo-image {
  height: 17px;
}

.nav-bar {
  padding: 15px;
  font-size: 10px;
  float: right;
}
@media only screen and (max-width: 992px) {
  .nav-bar {
    float: none;
  }
}
.nav-bar li {
  padding: 10px;
  display: inline;
}
@media only screen and (max-width: 992px) {
  .nav-bar li {
    display: block;
  }
}
.nav-bar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #B4B7BA;
}
.nav-bar li a:hover {
  color: #031F36;
}

.nav-header {
  text-transform: uppercase;
}

.banner {
  z-index: -1;
  width: 100%;
  height: 450px;
  background-image: url(assets/indexbanner-bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .banner {
    display: none;
  }
}
.banner-container {
  padding-top: 10%;
  color: #fff;
}

.search {
  padding: 0 30px;
}
.search-bar {
  z-index: 2;
  margin-top: -30px;
  background-color: #fff;
}
@media only screen and (max-width: 992px) {
  .search-bar {
    margin-top: 0;
  }
}
.search-bar form {
  display: flex;
  width: 100%;
}
.search-button {
  width: 15%;
  border-radius: 0;
}
.search-input {
  border: none;
  padding-left: 10px;
  height: 60px;
  width: 85%;
}

.features {
  margin: 50px;
}
.features-article {
  text-align: center;
}
.features-article figcaption {
  margin: 20px 0;
}
.features-image {
  transition: 1.1s ease-in-out;
  height: 70px;
}
.features-image:hover {
  transform: scale(1.25);
}

.services-header {
  text-align: center;
}
.services-header h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 30px;
}
.services-header p {
  margin-bottom: 40px;
}
.services-figure {
  overflow: auto;
}
@media only screen and (max-width: 992px) {
  .services-figure img {
    text-align: left;
    float: left;
  }
}
.services-figure figcaption {
  margin: 10px 20px;
}
@media only screen and (max-width: 992px) {
  .services-figure figcaption {
    text-align: left;
    float: left;
  }
}
.services-inner {
  margin: auto;
}
.services-div {
  text-align: center;
}
.services-article {
  margin: 15px;
  overflow: auto;
}
.services-article p {
  margin: 5px 50px;
}
@media only screen and (max-width: 992px) {
  .services-article p {
    text-align: left;
    float: left;
  }
}
.services-image {
  height: 35px;
}
.services-img {
  height: 400px;
  z-index: 2;
}

.pricing {
  margin-top: -50px;
}
.pricing-inner {
  z-index: 1;
  box-sizing: border-box;
  height: 340px;
  background-image: url(assets/pricing-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
.pricing-header {
  padding-top: 100px;
}
.pricing-header h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
.pricing-header p {
  text-align: center;
  font-size: 13px;
  line-height: 17px;
  color: #A3A4A6;
}

.price {
  margin-bottom: 100px;
}
.price-card {
  overflow: auto;
  text-align: center;
  margin: -80px 0;
}
@media only screen and (max-width: 1200px) {
  .price-card {
    text-align: center;
    margin: 20px 0;
    float: left;
  }
}
.price-card-inner {
  background-color: #fff;
  padding: 2px;
  box-shadow: 0.3px 0.3px 10px #888888;
}
.price-card hr {
  border: 1px solid #F7F8F8;
}
.price-header {
  margin-top: 55px;
  margin-bottom: 55px;
  text-align: center;
}
.price-amount {
  font-weight: bold;
  font-size: 35px;
  margin-top: 15px;
}
.price-amount sup {
  font-size: 15px;
}
.price-list {
  text-align: initial;
  width: 60%;
  margin: auto;
}
.price-list td {
  font-size: 11px;
}
.price-list .description {
  width: 150px;
}
.price-list .amount {
  text-align: right;
  width: 35px;
}
.price-button {
  margin: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 9px;
  font-weight: bold;
  width: 70%;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: white;
  height: 200px;
  background-color: #142e3f;
}
.info-paragraph {
  font-size: 20px;
}
.info-span {
  font-weight: bold;
  font-size: 28px;
  color: #02AEF6;
}

.footer {
  font-size: 11px;
  height: 60px;
  overflow: auto;
  color: #fff;
  background-color: #091722;
  padding-top: 30px;
}
@media only screen and (max-width: 992px) {
  .footer {
    text-align: center;
    padding-top: 10px;
  }
}
.footer-nav {
  float: right;
  font-size: 10px;
}
@media only screen and (max-width: 992px) {
  .footer-nav {
    float: none;
  }
}
.footer-nav li {
  padding: 10px;
  display: inline;
}
.footer-nav li a {
  text-decoration: none;
  color: #B4B7BA;
}
.footer .copyright {
  float: left;
}
@media only screen and (max-width: 992px) {
  .footer .copyright {
    float: none;
  }
}

.contact {
  height: 370px;
  display: flex;
  background-image: url(assets/indexbanner-bg2.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  justify-content: center;
  text-align: center;
}
.contact-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.contact-inner p {
  width: 400px;
}
.contact-title {
  color: #fff;
  margin: 30px;
  font-weight: bold;
  font-size: 34px;
}

.form {
  margin: 100px 0 80px 0;
  height: 300px;
}
.form-title {
  margin: 50px 0;
  text-align: center;
}
.form-title h1 {
  margin: 20px 0;
}
.form-inner form {
  text-align: center;
  overflow: auto;
}
.form-left {
  width: 50%;
  float: left;
}
.form-left input {
  box-sizing: border-box;
  border: 0.5px solid #A6A8AD;
  font-size: 12px;
  padding: 5.5px;
  margin: 7px;
  width: 92%;
}
.form-right {
  width: 50%;
  float: right;
  overflow: auto;
}
.form-right textarea {
  width: 92%;
  margin: 5px;
  height: 93px;
  padding: 9px;
}
.form-submit {
  clear: both;
}
.form-button {
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 9px;
  font-weight: bold;
  cursor: pointer;
  margin: 22px auto;
  width: 15%;
  background: #01AFF3;
  color: #fff;
  height: 30px;
  border-radius: 4px;
}
