html{
	font-family: 'Raleway', sans-serif;
}
.center{
	padding: 0 230px;
}

.left{
	float: left;
}

.right{
	float: right;
}
.main-header{
	padding-top:20px;
	overflow: auto;
}

.logo{
	float:left;
}

.logo-image{
	height: 17px;
}

.nav-bar {
	float: right;
}

.nav-bar li{
	padding: 10px;
	display: inline;
}

.nav-header{
	text-transform: uppercase;
}

.banner{
	z-index: -1;
	width: 100%;
	height: 450px;
	background-image: url(assets/indexbanner-bg3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 15px;
	position: relative;
	text-align: center;
}

.banner-container{
	position: relative;
	top: 100px;
	margin-top: 30px;
	color:#fff;
	width: 300px;
}

.banner-container h1{
	font-size: 30px;
	font-weight: bold;
}

.search-bar{
	z-index: 2;
	height: 60px;
	margin-top: -30px;
	background-color: #fff;
	width: 100%;
}

.input{
	height: 60px;
	width: 85%;
}
.search-button{
	height: 60px;
	width: 14.4%;
}

.features{
}
.features-inner{
	width: 100%;
	text-align:center;
}

.features-article{
	margin: 100px 10px ;
	display: inline-block;
	width: 19%;
}

.features-image{
	height: 70px;
}

.services-header{
	text-align: center;
}

.services-header h1{
	font-size: 25px;
	font-weight: bold;
	margin: 30px;
}

.services-header p{
	margin-bottom: 40px;
}

.services-figure{
	overflow: auto;
}

.services-figure figcaption{
    margin: 10px 20px;
}

.services-div{
	margin: auto;

}
.services-article{
	margin: 15px;
    overflow: auto;

}

.services-article p{
    margin: 5px 50px;
}

.services-image{
	height: 35px;
}

.services-img{
	height: 400px;
	z-index: 2;
}

.div{
	margin: auto;
	display:flex;
}



.pricing{
	margin-top: -50px;
}

.pricing-inner{
	z-index: 1;
	box-sizing: border-box;
	padding: 135px;
	height: 370px;
	background-image: url(assets/pricing-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;

}

.pricing-header h1{
	text-align: center;
	font-size:25px;
	font-weight: bold;
}
.price{
	position: flex;
	margin: auto;
	margin-bottom: 100px;
}

.price-card{

	width: 180px;
	display: inline-block;
	margin: -80px 10px;
	border: 1px solid black;
}

.price-header{
	margin-top:55px;
	margin-bottom: 55px;
	text-align: center;
}

.price-amount{
	font-weight: bold;
	font-size: 35px;
	margin-top:15px;
}

.price-amount sup{
	font-size: 15px;
}

.price-list{
	border-spacing: 10px;
}

.price-button{
    background-color: #4CAF50;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 22px auto;
    width: 80%;
    text-align: center;
    background: #01AFF3;
    color: #fff;
    display: flex;
    height: 30px;
    border-radius: 4px;
}

.description{
	border: 1px solid black;
	width: 150px;
}

.amount{
	text-align: right;
	border: 1px solid black;
	width: 35px;
}


.info{
	width: 100%;
	display: table;
	color: white;
	height: 200px;
	background-color: #142e3f;
}

.info-paragraph{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.footer{
	overflow: auto;
	background-color: #091722;
}
